audioread==2.1.8
cffi==1.14.0
cryptography==2.6.1
cycler==0.10.0
decorator==4.4.2
joblib==0.15.1
kiwisolver==1.2.0
librosa==0.7.2
llvmlite==0.31.0
matplotlib==3.2.2
numba==0.48.0
numpy==1.18.5
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pyxattr==0.6.1
resampy==0.2.2
scikit-learn==0.23.1
scipy==1.4.1
SoundFile==0.10.3.post1
threadpoolctl==2.1.0

